<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint address="net.tcp://localhost:8080/chat"
					  binding="netTcpBinding"
					  contract="Common.IChat" />
		</client>
	</system.serviceModel>
</configuration>