global
    log stdout format raw local0
    maxconn 4096

defaults
    mode http
    log global

    timeout connect 60s
    timeout client  300s
    timeout server  300s

    option http-buffer-request
    option forwardfor

frontend soap_frontend
    bind *:8080

    default_backend soap_backend

backend soap_backend
    balance roundrobin

    option httpchk GET /transformer

    server node1 node1:8080 check
    server node2 node2:8080 check
    server node3 node3:8080 check
    server node4 node4:8080 check

