<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Server.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <Server.Settings>
            <setting name="RepositoryPath" serializeAs="String">
                <value>repository.json</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="ClientEndpoint" serializeAs="String">
                <value>127.0.0.1:9696</value>
            </setting>
            <setting name="ServerEndpoint" serializeAs="String">
                <value>127.0.0.1:7979</value>
            </setting>
        </Server.Settings>
    </applicationSettings>
</configuration>
